.product{
    border:1px solid black;
    border-radius: 10px;
}

.product .product__top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.product__bottom .bottom__post{
    margin-bottom: 25px;
}

.product__bottom .bottom__post-title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
}

.product__bottom .bottom__post-desc{
    opacity: 0.7;
}

.product__bottom .bottom__etc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etc__column .etc__column-price{
    font-weight: 700;
    font-size: 17px;
}

.etc__column i{
    font-size: 15px;
}

.etc__column .etc__column-rating{
    margin-left: 10px;
    opacity: 0.8;
}

.etc__column .etc__column-star{
    color: #fdbf4f;
}
.etc__column .etc__column-star--grey{
    opacity: 0.3;
}