
.profile .profile__etc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 700;
    padding: 0px 45px;
}

.profile .etc__column-follow{
    width: 180px;
    height: 50px;
    margin-right: 20px;
    background-color: #6b75ff;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .etc__column-message{
    width: 180px;
    height: 50px;
    background-color: hsl(234, 100%, 96%);
    border-radius: 8px;
    color: #6b75ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    width: 100%;
}

.profile .profile__user{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.profile .profile__username{
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.profile .profile__job{
    opacity: 0.7;
}

.profile__user .profile__img{
    /* background-color: red; */
    background-image: url("../images/sky.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    width: 100%;
    height: 200px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.profile__user .profile__test{
    width: 110px;
    height: 110px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.profile__user .profile__avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
