body {
    margin: 0;
    padding: 0;
    height: 1000px;
}

.container{
    background-color: #1e90ff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__pinkbox{
    background-color: #ff6b81;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container__greybox{
    background-color: #d8d8d8;
    width: 50px;
    height: 50px;
}

.container__greybox:nth-child(2):hover {
    background-color: red;
}