.phone__top .top__header-btns{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}

.top__header-btns i{
    cursor: pointer;
}