body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: ivory;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__greybox:hover{
    background-color: #95a5a6;
    box-shadow: 2px 2px 2px 1px #d2d2d2;
}

.container__greybox:hover + .container__img{
    transform: rotate(125deg) scale(.5, .5);
    border: 5px solid black;
}

.container__greybox{
    width: 200px;
    height: 50px;
    background-color: #7f8c8d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.container__img{
    width: 200px;
    margin-top: 50px;
    transition: all 1s ease-in-out;
}
