@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import "reset.css";

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.containerAni{
    width: 100%;
    margin: 10px 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerAni .containerAni__box{
    width: 330px;
    height: 250px;
}

.containerAni .containerAni__camera-box{
    width: 330px;
    height: 250px;
    background-color: #273949;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAni__camera-box .camera-box__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAni__camera-box .camera-box__column:first-child{
    margin-bottom: 30px;
}

.camera-box__column .box__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.camera-box__column .box__desc{
    font-size: 14px;
    color: #e84167;
}

.camera-box__column .box__btn{
    background-color: #e84167;
    border-radius: 3px;
    padding: 10px;
}