@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import "reset.css";

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.containerAni{
    width: 100%;
    margin: 10px 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* camera box */

/* camera box가 나타나는 애니메이션 */
@keyframes appearBox{
    from{
        transform: none;
    }
    to{
        transform: translate(20px, 20px);
    }
}

.containerAni .containerAni__img{
    width: 330px;
    height: 250px;
    position: relative;
    z-index: 1;
}

/* image hover */
.containerAni .containerAni__img:hover ~ .containerAni__camera-box{
    z-index: 2;
    animation: appearBox .5s linear forwards;
    cursor: pointer;
}

.containerAni .containerAni__camera-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAni .containerAni__camera-box,
.containerAni .containerAni__safari-box{
    width: 330px;
    height: 250px;
    background-color: #273949;
    color: white;
    position: absolute;
    top: 50px;
    z-index: 0;
}



.containerAni__camera-box .camera-box__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAni__camera-box .camera-box__column:first-child{
    margin-bottom: 30px;
}

.camera-box__column .box__title,
.safari-box__column .box__title,
.game-box__column .box__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.camera-box__column .box__desc,
.safari-box__column .box__desc,
.game-box__column .box__desc{
    font-size: 14px;
    color: #e84167;
}

.camera-box__column .box__btn,
.safari-box__column .box__btn,
.game-box__column .box__btn{
    text-align: center;
    background-color: #e84167;
    border-radius: 3px;
    padding: 10px;
}

@keyframes scaleBox {
    0%{
        transform: none;
        top: 0px;
    }
    20%{
        transform: scale(0.9, 0.9);
        top: -8px;
    }
    40%{
        transform: scale(0.8, 0.8);
        top: -16px;
    }
    60%{
        transform: scale(0.7, 0.7);
        top: -24px;
    }
    80%{
        transform: scale(0.6, 0.6);
        top: -32px;
    }
    100%{
        top: -40px;
        transform: scale(0.5, 0.5);
    }
}

/* safari box */
.containerAni .containerAni__safari-box{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.containerAni .safari{
    position: relative;
    top: 0px;
    transform: scale(1, 1);
    transition: all ease 2s 0s;
}

/* y축 위쪽으로 줄어들게끔 생각해보기 */
.containerAni .safari:hover{
    position: relative;
    top: -40px;
    transform: scale(0.5, 0.5);
    /* animation: scaleBox .5s linear forwards; */
}

/* game box */
.containerAni .containerAni__game-box{
    width: 330px;
    height: 100px;
    padding: 15px 15px;
    background-color: #273949;
    color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
}

.containerAni__game-box .game-box__column:last-child{
    display: flex;
    align-items: flex-end;
}

/* 애니메이션 트랜지션으로 다 바꿔서 매끄럽게 마우스 올렸을 때랑 땠을 때 부드럽게 움직일 수 있도록 바꾸기 */